<div class="flex flex-row w-full h-screen">
    <div class="w-1/2">
      <!-- TODO: Change this image to a more appropriate one -->
      <img
        src="assets/images/auth.svg"
        alt="login-image"
        class="w-full h-full object-cover rounded-r-2xl"
      />
    </div>
    <div
      class="w-1/2 flex flex-col justify-center items-center px-3 py-12 lg:px-8"
    >
      <div class="w-full max-w-md">
        <div
          class="flex flex-col min-h-full justify-center px-3 py-8 lg:px-8 rounded-md shadow-2xl"
        >
          <div class="sm:mx-auto sm:w-full sm:max-w-sm">
            <h2
              class="mt-5 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900"
            >
              Register here
            </h2>
          </div>
  
          <div class="mt-5 sm:mx-auto sm:w-full sm:max-w-md">
            <form
              [formGroup]="signupForm"
              (ngSubmit)="signup()"
              class="space-y-6"
            >
              <div>
                <label
                  for="username"
                  class="block text-sm font-medium leading-6 text-gray-900"
                  >Username</label
                >
                <div class="mt-2">
                  <input
                    id="username"
                    name="username"
                    type="text"
                    autocomplete="username"
                    formControlName="username"
                    required
                    class="block w-full rounded-md border-0 px-1.5 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                  />
                </div>
              </div>
              <div>
                <label
                  for="email"
                  class="block text-sm font-medium leading-6 text-gray-900"
                  >Email address</label
                >
                <div class="mt-2">
                  <input
                    id="email"
                    name="email"
                    type="email"
                    autocomplete="email"
                    formControlName="email"
                    required
                    class="block w-full rounded-md border-0 px-1.5 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                  />
                </div>
              </div>
  
              <div>
                <div class="flex items-center justify-between">
                  <label
                    for="password"
                    class="block text-sm font-medium leading-6 text-gray-900"
                    >Password</label
                  >
                </div>
                <div class="mt-2">
                  <input
                    id="password"
                    name="password"
                    type="password"
                    autocomplete="current-password"
                    formControlName="password"
                    required
                    class="block w-full rounded-md border-0 px-1.5 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                  />
                </div>
              </div>
  
              <div>
                <div class="flex items-center justify-between">
                  <label
                    for="confirm_password"
                    class="block text-sm font-medium leading-6 text-gray-900"
                    >Confirm Password</label
                  >
                </div>
                <div class="mt-2">
                  <input
                    id="confirm_password"
                    name="confirm_password"
                    type="password"
                    autocomplete="current-password"
                    formControlName="confirm_password"
                    required
                    class="block w-full rounded-md border-0 px-1.5 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                  />
                </div>
              </div>
  
              <div>
                <button
                  type="submit"
                  class="flex w-full justify-center rounded-md bg-indigo-600 px-3 px-1.5 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
                >
                  Register
                </button>
              </div>
            </form>
  
            <p class="mt-5 text-center text-sm text-gray-500">
              Already have an account?
              <a
                href="/login"
                class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500"
                >Login</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>